include /blocks/logo/logo
include /blocks/social-network/social-network

//- - set_bemto_settings({ prefix: ''})
//- - set_bemto_settings({prefix: {'': 'b-', 'js-': 'true', 'is-': 'is-'}})

+b.footer.js-footer
	.container
		+e.nav-mobile
			- set_bemto_settings({ prefix: 'f-' });
			+b.nav-mobile
				+e('h2').nav-header Компания
				- set_bemto_settings({ prefix: '' })
				+e('ul').list.js-mobile-footer-menu
				- var arr = getData('f-mobile-version-menu');
					each val in arr
						if val.submenu.length
							li.has-sub-menu.js-mobile-footer-sub-menu
								a(href="#{val.link}") #{val['name-link']}
								ul
									each item in val.submenu
										li
											a(href="#{item.link}") #{item['name-link']}
						else
							li
								a(href="#{val.link}") #{val['name-link']}


		- set_bemto_settings({ prefix: '' })
		+e.info
			+logo
			- set_bemto_settings({ prefix: 'f-' })
			+b.phones
				p +7 (000) 000-00-00
				p +7 (000) 000-00-00
			+b.time
				p Пн-Пт: с 0:00 до 0:00<br />Сб-Вс:  Выходные
			+b.location
				p 000000, Рыбная обл., г. Рыба, ул.<br />Рыба, дом 00, к. 00
					a(href="javascript:;") Карта проезда
			+b.line

			+social-network(getData('social-network'))._indent_top._indent_bottom

			- set_bemto_settings({ prefix: 'f-' })
			+b.copyrighting
				p Создание и продвижение сайта 
					a(href="javascript:;") Darvin Studio
				p
					a(href="javascript:;") Политика конфиденциальности
				p © 2017. Все права защищены

		- set_bemto_settings({ prefix: '' })
		+e.nav
			- set_bemto_settings({ prefix: 'f-' })
			+b.nav
				+e('h2').nav-header Компания
				- var arr = getData('f-left-menu');
				+e('ul').list
					each val in arr
						li
							a(href="#{val.link}") #{val['link-name']}

			+b.nav
				+e('h2').nav-header Каталог
				- var arr = getData('f-right-menu');
				+e('ul').list
					each val in arr
						li
							a(href="#{val.link}") #{val['link-name']}